@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

@theme {
  --font-bold: "Gilroy-bold", sans-serif;
  --font-heavy: 'Gilroy-Heavy', sans-serif;
  --font-light: 'Gilroy-Light', sans-serif;
  --font-semibold: 'Gilroy-Medium', sans-serif;
  --font-gilroy: 'Gilroy-Regular', sans-serif;
}

body{
  @apply bg-neutral-900 text-white px-2 py-8 font-gilroy
}
.react-datepicker__input-container input {
  caret-color: transparent;  /* hides the blinking caret */
}
/* Overlay (background) */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modal-overlay.ReactModal__Overlay--after-open {
  opacity: 1;
}

.modal-overlay.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Content (popup box) */
.modal-content {
  opacity: 0;
  transform: scale(0.95);
  transition: all 300ms ease-in-out;
}

.modal-content.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1);
}

.modal-content.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0.95);
}
